:root {
  --color-background-hover-primary: #3399ff;
  --color-background-hover-secondary: #1a1a1a;
  --color-background-primary: #4da6ff;
  --color-background-secondary: #202020;
  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;
}
